/out/*
/JUI_C105-E0_7.1_2017.09.15.zip
/vendor/system/app/K*
/vendor/system/app/Z*
/vendor/system/app/L*
/vendor/system/app/N*
/vendor/system/app/G*
/vendor/system/app/P*
/vendor/system/app/Q*
/vendor/system/app/S*
/vendor/system/app/C*
/vendor/system/app/M*
/vendor/system/app/W*
/vendor/system/app/O*

